/* Hand made paper background image from Subtle Patterns. Made by Le Marquis. */

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;

  background-image: url("./img/handmadepaper.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  background-position: top left;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
  html, body{
    background-image: url('./img/handmadepaper_@2X.png');
  }
}

#main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
}

#header {
  /* background: rgba(255,0,0,.3); */
  grid-column: 1 / 13;
}

#footer {
  /* background: rgba(0,255,0,.3); */
  grid-column: 1 / 13;
}

#content {
  grid-column: 3 / 11;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 75%;
  height: 75%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cards-container > li {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-perspective: 1000;
}
.cards-container > li .card-back,
.cards-container > li .card-face {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  color: rgba(0,0,0,0.7);
  border-width: 1px;
  border-style: solid;
  border-color:
    rgba(255,255,255,0.3)
    rgba(0,0,0,0.3)
    rgba(0,0,0,0.3)
    rgba(255,255,255,0.3);

  text-transform: uppercase;
  font-size: .8em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform .5s;

  border-radius: 5%;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.cards-container > li .card-back {
  background: rgba(0,0,0,0.05);
  transform: rotateY(180deg);
}
.cards-container > li .card-face i {
  font-size: 2.5em;
  display: block;
  margin-bottom: .5em;
}
.cards-container > li .card-back i {
  font-size: 3em;
}
.cards-container > li.hidden .card-face {
  transform: rotateY(180deg);
}
.cards-container > li.hidden .card-back {
  transform: rotateY(360deg);
}
